---
import type { CollectionEntry } from 'astro:content';
type Haiku = CollectionEntry<'haiku'>;
import { getCollection } from 'astro:content';

import { sortByDate } from '../utils';

import GridLayout from '../layouts/GridLayout.astro';
import PageTitle from '../components/PageTitle.astro';
import { Content as Intro } from '../text/haiku/intro.mdx';

import { mapping } from '../mdx-components';

const allHaiku: Haiku[] = await getCollection('haiku');
allHaiku.sort(sortByDate).reverse();

const title = 'Haiku';
const description =
	'This is an ever-growing collection of Haiku I have written. My Haiku reflect my own unique perspective on the world, and I hope they bring a bit of beauty and insight to the reader.';
---

<GridLayout title={title} description={description} grid="wide" class="grid" innerGrid>
	<PageTitle grid="wide" innerGrid>Haiku</PageTitle>

	<article
		class="col-start-1 col-end-19 md:col-start-3 md:col-end-13 lg:col-start-4 lg:col-end-12 xl:col-start-5 xl:col-end-11"
	>
		<Intro components={mapping} />
	</article>

	<section
		class="col-start-1 col-end-19 md:col-start-2 md:col-end-18"
		aria-label="Haiku collection"
		data-pagefind-ignore
	>
		<ol class="grid list-none grid-cols-1 gap-gap sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
			{
				allHaiku.map(({ id, data }) => (
					<li class="border border-shibui-200 dark:border-shibui-700">
						<div class="grid h-full grid-cols-2">
							<div class="flex items-center justify-center p-8 text-center">
								<blockquote
									lang="de"
									class="m-0 text-3 font-black leading-relaxed not-italic"
								>
									{data.de}
								</blockquote>
							</div>
							<div class="flex items-center justify-center bg-shibui-200 p-8 text-center dark:bg-shibui-800">
								<blockquote
									lang="en"
									class="m-0 text-3 font-black leading-relaxed not-italic"
								>
									{data.en}
								</blockquote>
							</div>
						</div>
						<footer class="border-t border-shibui-200 px-4 py-2 text-1 text-shibui-500 dark:border-shibui-700 dark:text-shibui-400">
							<span class="font-mono">{id}</span>
						</footer>
					</li>
				))
			}
		</ol>
	</section>
</GridLayout>
