---
import type { CollectionEntry } from 'astro:content';
type Haiku = CollectionEntry<'haiku'>;
import { getCollection } from 'astro:content';

import { sortByDate } from '../utils';

import GridLayout from '../layouts/GridLayout.astro';
import Link from '../components/Link.astro';
import PageTitle from '../components/PageTitle.astro';
import { Content as Intro } from '../text/haiku/intro.mdx';

import { mapping } from '../mdx-components';

const allHaiku: Haiku[] = await getCollection('haiku');
allHaiku.sort(sortByDate).reverse();

const title = 'Haiku';
const description =
	'This is an ever-growing collection of Haiku I have written. My Haiku reflect my own unique perspective on the world, and I hope they bring a bit of beauty and insight to the reader.';
---

<GridLayout title={title} description={description} grid="wide" backLink="/" class="grid" innerGrid>
	<PageTitle grid="wide" innerGrid>Haiku</PageTitle>

	<article
		class="col-start-1 col-end-19 md:col-start-3 md:col-end-13 lg:col-start-4 lg:col-end-12 xl:col-start-5 xl:col-end-11"
	>
		<Intro components={mapping} />
	</article>

	<nav
		aria-label="Haiku"
		class="col-start-1 col-end-17 md:col-start-2 md:col-end-14 print:hidden"
		data-pagefind-ignore
	>
		<ol
			class="grid list-none grid-cols-[repeat(auto-fill,_minmax(3rem,_1fr))] justify-items-center gap-[1rem]"
		>
			{
				allHaiku.map(({ slug }) => (
					<li>
						<Link
							class="flex h-[3rem] w-[3rem] items-center justify-center rounded-[50%] bg-black/80 font-semibold text-white/80 hover:!bg-accent focus:!bg-accent dark:bg-white/80 dark:text-black/80 dark:hover:text-white/80 dark:focus:text-white/80"
							arial-label={`Haiku ${slug}`}
							href={`/haiku/${slug}/`}
						>
							{slug}
						</Link>
					</li>
				))
			}
		</ol>
	</nav>
</GridLayout>
