---
import type { CollectionEntry } from 'astro:content';
type JournalType = CollectionEntry<'journal'>;
import { getCollection } from 'astro:content';

import { formatPosts } from '@/utils';

import BaseLayout from '@/layouts/BaseLayout.astro';
import Marquee from '@/components/interactive/Marquee';
import EssayLink from '@/components/ui/EssayLink';
import HomePageSection from '@/components/ui/HomepagePageSection';
import JapanesePoem from '@/components/ui/JapanesePoem';
import ListItem from '@/components/ui/ListItem';
import MoreLink from '@/components/ui/MoreLink';
import Title from '@/components/ui/Title';
import UnorderedList from '@/components/ui/UnorderedList';

import { Content as About } from '@/text/homepage/about.mdx';
import { Content as Work } from '@/text/homepage/work.mdx';
import { Content as Writing } from '@/text/homepage/writing.mdx';
import { mapping } from '@/mdx-components';
import { getPreviewUrl } from '@/utils/preview-url';

const allPosts = await getCollection('journal', ({ data }: JournalType) => !data.draft);
const latestPosts = formatPosts(allPosts, { limit: 9 });

const title = 'Stefan Imhoff';
const description = 'Design Engineer from Hamburg, Germany';
---

<BaseLayout title={title} description={description}>
	<!-- Hero -->
	<div
		class="max-w-360 mx-auto grid grid-cols-3 gap-x-4 gap-y-6 px-8 pb-32 pt-32 md:grid-cols-6 md:gap-x-6 md:gap-y-8 xl:grid-cols-12 xl:gap-x-8 xl:gap-y-0"
	>
		<div class="col-span-3 flex w-full md:col-span-6 xl:col-span-9 xl:col-start-3">
			<Title className="hero-title leading-[1.05]">
				Stefan Imhoff <em class="font-display font-normal">is a</em><br
					class="hidden xl:block"
				/>
				Design Engineer<br class="hidden xl:block" />
				<span>
					<em class="font-display font-normal">from</em>
					<span class="whitespace-nowrap"
						>Hamburg<span class="text-beni ml-4">—</span></span
					>
				</span>
			</Title>
		</div>
	</div>

	<div class="max-w-360 mx-auto mb-16 flex w-full flex-col gap-16 px-8">
		<HomePageSection label="About">
			<About components={mapping} />
			<MoreLink href="/about/" text="About" />
		</HomePageSection>

		<HomePageSection label="Work">
			<Work components={mapping} />
			<MoreLink href="/work/" text="See selected work" />
		</HomePageSection>
	</div>

	<Marquee client:visible className="my-4">
		<JapanesePoem />
	</Marquee>

	<div class="max-w-360 mx-auto mb-32 mt-16 flex w-full flex-col gap-16 px-8">
		<HomePageSection label="Writing">
			<Writing components={mapping} />
			<div class="flex flex-col gap-2">
				<MoreLink href="/writing/" text="Read the journal" />
				<MoreLink href="/rss.xml" text="Subscribe to RSS Feed" />
			</div>
		</HomePageSection>

		<HomePageSection label="Latest Essays">
			<UnorderedList className="relative top-1.5" data-pagefind-ignore>
				{
					latestPosts.map((post) => (
						<ListItem>
							<EssayLink
								href={`/${post.id}/`}
								data-hover-preview={getPreviewUrl(post.data.cover)}
							>
								{post.data.subtitle
									? `${post.data.title}: ${post.data.subtitle}`
									: post.data.title}
							</EssayLink>
						</ListItem>
					))
				}
			</UnorderedList>
		</HomePageSection>

		<HomePageSection label="Contact">
			<MoreLink
				href="mailto:hey@stefanimhoff.de"
				text="hey@stefanimhoff.de"
				data-umami-event="Contact: Email"
			/>
		</HomePageSection>
	</div>
</BaseLayout>
