---
import GridLayout from '../layouts/GridLayout.astro';

import AmazonBook from '../components/AmazonBook.astro';
import ColorStack from '../components/ColorStack.astro';
import ColorSwatch from '../components/ColorSwatch.astro';
import PageTitle from '../components/PageTitle.astro';

import { Content as Intro } from '../text/traditional-colors-of-japan/intro.mdx';
import colors from '../data/colors-japan.json';

import { mapping } from '../mdx-components';

const title = 'The Traditional Colors of Japan';
const description =
	'I took the time and converted all colors in the book “Traditional Colors of Japan” by Nobyoshi Hamada into an ASE file free to download.';
---

<GridLayout title={title} description={description} grid="wide" backLink="/" class="grid" innerGrid>
	<PageTitle grid="wide" innerGrid>The Traditional Colors of&nbsp;Japan</PageTitle>

	<article class="col-start-1 col-end-17 grid md:col-end-8 xl:content-center">
		<Intro components={mapping} />
	</article>

	<article class="col-start-1 col-end-17 flex grid-cols-2 md:col-start-9 md:justify-end">
		<AmazonBook
			alt="The Traditional Colors of Japan"
			asin="475624100X"
			class="max-w-[300px] mie-[1.5vw] [&_img]:self-end"
		/>
		<AmazonBook
			alt="Traditional Japanese Color Palette"
			asin="475624114X"
			class="max-w-[300px] mis-[1.5vw] [&_img]:self-end"
		/>
	</article>

	<ColorStack>
		{
			colors.map(({ name, description, color }) => (
				<div class="slide">
					<ColorSwatch color={color} title={name} description={description} />
				</div>
			))
		}
	</ColorStack>
</GridLayout>
