---
import BaseLayout from '@/layouts/BaseLayout.astro';

import AmazonBook from '@/components/content/AmazonBook';
import ColorStack from '@/components/content/ColorStack';
import ColorSwatchPrimary from '@/components/content/ColorSwatchPrimary';
import PageSection from '@/components/ui/PageSection';
import PageTitle from '@/components/site/PageTitle.astro';

import { Content as Intro } from '@/content/text/traditional-colors-of-japan/intro.mdx';
import { mapping } from '@/mdx-components';
import colorsData from '@/data/colors-japan.json';

interface ColorEntry {
	color: string;
	description?: string;
	hiragana?: string;
	kanji?: string;
	name: string;
}

const colors: ColorEntry[] = colorsData as ColorEntry[];

const title = 'The Traditional Colors of Japan';
const description =
	'I took the time and converted all colors in the book "Traditional Colors of Japan" by Nobyoshi Hamada into an ASE file free to download.';
---

<BaseLayout title={title} description={description}>
	<PageTitle>The Traditional Colors of&nbsp;Japan</PageTitle>

	<div class="max-w-360 mx-auto flex w-full flex-col gap-16 px-8 pb-32 pt-16">
		<PageSection label="Introduction">
			<Intro components={mapping} />
		</PageSection>

		<PageSection label="Books">
			<div class="flex gap-6">
				<AmazonBook alt="The Traditional Colors of Japan" asin="475624100X" />
				<AmazonBook alt="Traditional Japanese Color Palette" asin="475624114X" />
			</div>
		</PageSection>

		<ColorStack className="grid-cols-[repeat(auto-fill,minmax(220px,1fr))]">
			{
				colors.map(({ name, kanji, hiragana, description, color }) => (
					<ColorSwatchPrimary
						color={color}
						name={name}
						kanji={kanji}
						hiragana={hiragana}
						description={description}
					/>
				))
			}
		</ColorStack>
	</div>
</BaseLayout>
