---
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';

import { sortBySortKey } from '@/utils';

import BaseLayout from '@/layouts/BaseLayout.astro';
import LightboxRoot from '@/components/interactive/LightboxRoot';
import Reveal from '@/components/interactive/motion/Reveal';
import PageSection from '@/components/ui/PageSection';
import PageTitle from '@/components/site/PageTitle.astro';
import WorkItem from '@/components/site/work/WorkItem.astro';

import { Content as WorkIntro } from '@/content/text/work/intro.mdx';
import { mapping } from '@/mdx-components';

const allWork: CollectionEntry<'work'>[] = await getCollection('work');
const workEntries = allWork.sort(sortBySortKey);

const title = 'Work';
const description = "I'm a Design Engineer. These are selected projects from the last two decades.";
---

<BaseLayout title={title} description={description}>
	<PageTitle>Work</PageTitle>

	<div class="max-w-360 pbe-32 pli-8 mx-auto flex w-full flex-col gap-24">
		<Reveal client:visible>
			<PageSection label="Introduction">
				<WorkIntro components={mapping} />
			</PageSection>
		</Reveal>

		<div class="flex flex-col gap-32">
			{
				workEntries.map((entry, index) => (
					<Reveal client:visible>
						<WorkItem entry={entry} index={index} />
					</Reveal>
				))
			}
		</div>
	</div>

	<LightboxRoot client:idle transition:persist />
</BaseLayout>
