---
// Cspell:words astro darkgrey
import Link from './Link.astro';

export interface Props {
	class?: string;
	href?: string;
	label: string;
	[key: string]: any;
}

const { label, class: className, href, ...props } = Astro.props;
---

{
	href ? (
		<Link
			class:list={[
				'rounded-1 border-1 border-solid border-[darkgrey] bg-[lightgrey] font-mono text-[0.7em] text-black decoration-0 pli-[0.3em] pbe-0 pbs-[0.1em] dark:bg-[lightgrey]/80',
				className,
			]}
			href={href}
			title={label}
			{...props}
		>
			<span class="hidden" aria-hidden="true">
				[
			</span>
			{label}
			<span class="hidden" aria-hidden="true">
				]
			</span>
		</Link>
	) : (
		<span
			class:list={[
				'rounded-1 border-1 border-solid border-[darkgrey] bg-[lightgrey] font-mono text-[0.7em] text-black decoration-0 pli-[0.3em] pbe-0 pbs-[0.1em] dark:bg-[lightgrey]/80',
				className,
			]}
			title={label}
			{...props}
		>
			<span class="hidden" aria-hidden="true">
				[
			</span>
			{label}
			<span class="hidden" aria-hidden="true">
				]
			</span>
		</span>
	)
}
