---
// Cspell:words astro
import type { CollectionEntry } from 'astro:content';
import Image from './Image.astro';

interface Props {
	project: CollectionEntry<'projects'>;
}

const { project } = Astro.props;
---

{
	project.data.image &&
		(project.data.image.src.includes('.svg') ? (
			<div class="image-shadow mbe-0 mbs-0">
				<img class="image-border" alt={project.data.title} src={project.data.image.src} />
			</div>
		) : (
			<Image
				alt={project.data.title}
				aria-label={project.data.title}
				class="[&_img]:!w-full [&_img]:!max-w-none [&_picture]:!w-full [&_picture]:!max-w-none"
				noMargin
				src={project.data.image.src}
			/>
		))
}
