---
import { site } from '../data/site';
import { dateToISO } from '../utils';

import { rssMapping } from '../mdx-components';

const { allPosts } = Astro.props;
const rssHeaderXml = `<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet href="/rss.xsl" type="text/xsl"?>
<rss version="2.0" xmlns:content="http://purl.org/rss/1.0/modules/content/">
	<channel>
		<title>${site.title}</title>
		<description><![CDATA[ ${site.description} ]]></description>
		<link>${site.url}</link>`;

const rssFooterXml = `	</channel>
</rss>`;
---

<Fragment set:html={rssHeaderXml} />
{
	allPosts
		.filter((post: any) => !post.frontmatter.draft)
		.map((post: any) => (
			<>
				<Fragment
					set:html={`    <item>
			<title>${post.frontmatter.title.replace('&', '&amp;')}</title>
			<link>${`${site.url}/${post.frontmatter.slug}/`}</link>
			<guid>${`${site.url}/${post.frontmatter.slug}/`}</guid>
			<description><![CDATA[${post.frontmatter.description}]]></description>
			<pubDate>${dateToISO(post.frontmatter.date)}</pubDate>
			<enclosure url="${
				site.url +
				(post.frontmatter.cover
					? post.frontmatter.cover.startsWith('/assets/images/cover/') &&
						post.frontmatter.cover.endsWith('.webp')
						? post.frontmatter.cover
								.replace('/assets/images/cover/', '/assets/images/branding/og/')
								.replace(/\.webp$/, '.jpg')
						: post.frontmatter.cover
					: '/assets/images/branding/og/bonsai.jpg')
			}" length="0" type="image/jpeg" />
			<content:encoded><![CDATA[`}
				/>
				<post.Content components={rssMapping} />
				<Fragment
					set:html={`]]></content:encoded>
		</item>
`}
				/>
			</>
		))
}
<Fragment set:html={rssFooterXml} />
