---
import BaseLayout from './BaseLayout.astro';

export interface Props {
	backLink?: string;
	class?: string;
	cover?: string;
	description?: string;
	footer?: boolean;
	gap?: boolean;
	grid?: 'narrow' | 'wide' | 'fullsize';
	header?: boolean;
	innerGrid?: boolean;
	multicolumn?: boolean;
	nofollow?: boolean;
	noindex?: boolean;
	title: string;
}

const {
	backLink,
	class: className,
	cover,
	description,
	footer = true,
	gap = true,
	grid = 'narrow',
	header,
	innerGrid,
	multicolumn = false,
	nofollow,
	noindex,
	title,
} = Astro.props;
---

<BaseLayout
	backLink={backLink}
	cover={cover}
	description={description}
	footer={footer}
	header={header}
	nofollow={nofollow}
	noindex={noindex}
	title={title}
>
	<div class:list={['grid w-full grid-cols-18', { 'gap-y-gap': gap }, className]}>
		<slot name="title" />
		<slot name="before-content" />
		{
			grid !== 'fullsize' ? (
				<div
					class:list={[
						'grid-cols-subgrid',
						{ grid: innerGrid },
						{
							'col-start-2 col-end-18 md:col-start-3 md:col-end-17': grid === 'wide',
						},
						{
							'col-start-2 col-end-18 md:col-start-5 md:col-end-15 lg:col-start-6 lg:col-end-14 xl:col-start-7 xl:col-end-13':
								grid === 'narrow',
						},
						{ 'gap-y-gap': gap },
						{
							'multicolumns columns-[clamp(400px,30vw,700px)] gap-x-[clamp(50px,4vw,80px)]':
								multicolumn,
						},
					]}
				>
					<slot name="intro" />
					<slot />
				</div>
			) : (
				<slot />
			)
		}
		<slot name="after-content" />
	</div>
</BaseLayout>
