---
// Cspell:words astro frontmatter
import { dateToFormat, dateToISO } from '../utils';

import Pullquote from '../components/Pullquote.astro';
import Image from '../components/Image.astro';
import PageTitle from '../components/PageTitle.astro';

import GridLayout from './GridLayout.astro';

export interface Props {
	class?: string;
	frontmatter?: any;
	grid?: 'wide' | 'narrow';
}

const { frontmatter, class: className, grid = 'narrow' } = Astro.props;
const gridVariant = frontmatter.grid || grid;
---

<GridLayout grid={gridVariant} class={className} {...frontmatter}>
	<PageTitle slot="title" grid={gridVariant} {...frontmatter}>
		{frontmatter.title}
	</PageTitle>
	{
		frontmatter.cover && (
			<div
				slot="before-content"
				class="col-span-full xl:col-start-1 xl:col-end-14 3xl:col-end-13 [&_div]:!border-x-0 [&_div]:!mbe-0 [&_div]:md:!border-s-0"
			>
				<Image alt={frontmatter.title} src={frontmatter.cover} />
			</div>
		)
	}
	{
		frontmatter.intro && (
			<blockquote class="mbe-10">
				<p>{frontmatter.intro}</p>
			</blockquote>
		)
	}
	<slot name="before-content" />
	{
		frontmatter.intro && (
			<div class="mbe-10">
				<Pullquote alignment="left" text={frontmatter.intro} />
			</div>
		)
	}
	<slot />
	{
		frontmatter.updated && (
			<footer class="mbs-10">
				<b>Last Updated:</b>
				<time datetime={dateToISO(frontmatter.updated)}>
					{dateToFormat(frontmatter.updated)}
				</time>
			</footer>
		)
	}
	<slot name="after-content" />
</GridLayout>
